---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="About | Rob op den Kelder"
	description="About Rob op den Kelder Lorem Ipsum"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero title="About" tagline="">
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Rob op den Kelder at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Strong focus on enabling the best technical solution in
						a multicultural environment.
					</p>
					<p>
						Consultancy experience for CGI (Logica) for over 6
						years.
					</p>
					<p>
						Moved in October 2015 to London, United Kingdom to take
						the next step in my career.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certification</h2>
				<div>
					<p>
						<a
							href="https://www.credly.com/badges/fdcd03bf-c976-4d5c-9992-89f600daadc2/"
							>AZ-302
						</a>: Microsoft Certified: Azure Solution Architect
						Expert
					</p>
					<p>
						<a
							href="https://www.credly.com/badges/2aec6f3b-b7d3-4855-94dd-f1f36c5504ea/"
						>
							70-535
						</a>: Architecting Microsoft Azure Solutions
					</p>
					<p>Scrum master</p>
					<p>Exam 535: Microsoft Certified Professional (MCP)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						B.Sc. Computer Science, University of Applied Science,
						Rotterdam
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Soft skills</h2>
				<div class="content">
					<p>Problem-solving / analytical</p>
					<p>Stakeholder management</p>
					<p>Recruiting</p>
					<p>Teamwork</p>
					<p>Open-mindedness</p>
					<p>Performance manager</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Hard skills</h2>
				<div class="content">
					<p>Distributed Architure (event and message driven)</p>
					<p>Microservices</p>
					<p>Product development</p>
					<p>Technical roadmap</p>
					<p>Security</p>
					<p>Development</p>
					<p>
						Polygot programming <sub
							><sub
								><sup
									>(C#, Python, Java, JavaScript (React JS),
									Batch, PHP, Go(Lang) and Rust (learning)</sup
								></sub
							></sub
						>
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
