---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Rob op den Kelder" description="About Rob op den Kelder Lorem Ipsum">
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero title="About" tagline="" />

            <section id="section-about-background">
                <h2 class="section-title">Background</h2>
                <div class="content">
                    <p>
                        Principal software engineer with over 14 years of professional experience in
                        the computer software sector and a product engineering mindset. Driven to
                        work in an international team atmosphere to identify straightforward
                        solutions to complex challenges.
                    </p><p>
                        Using experience to recognize and lead technological opportunities,
                        mentoring others, ensuring quality, and developing long-term strategic
                        decisions and plans. Extensive experience applying skills in a variety of
                        industries, including energy, industrial, business services, finance,
                        government and transportation.
                    </p>
                    <p>
                        Able to work in the United Kingdom as part of the settle status scheme and
                        Europa as a Dutch citizen.
                    </p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Strengths</h2>
                <div class="content">
                    <p>Analytical, fgsdfgsdfgsd sdfg sdfgsd fgsdfg dfsg dsfgdfg sdfg sfdg</p><p>
                        Using experience to recognize and lead technological opportunities,
                        mentoring others, ensuring quality, and developing long-term strategic
                        decisions and plans. Extensive experience applying skills in a variety of
                        industries, including energy, industrial, business services, finance,
                        government and transportation.
                    </p>
                    <p>
                        Able to work in the United Kingdom as part of the settle status scheme and
                        Europa as a Dutch citizen.
                    </p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Certification</h2>
                <div>
                    <p>
                        <a
                            href="https://www.credly.com/badges/fdcd03bf-c976-4d5c-9992-89f600daadc2/"
                            >AZ-302
                        </a>: Microsoft Certified: Azure Solution Architect Expert
                    </p>
                    <p>
                        <a
                            href="https://www.credly.com/badges/2aec6f3b-b7d3-4855-94dd-f1f36c5504ea/"
                        >
                            70-535
                        </a>: Architecting Microsoft Azure Solutions
                    </p>
                    <p>Scrum master</p>
                    <p>Exam 535: Microsoft Certified Professional (MCP)</p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Education</h2>
                <div class="content">
                    <p>B.Sc. Computer Science, University of Applied Science, Rotterdam</p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Soft skills</h2>
                <div class="content">
                    <p>Problem-solving / analytical</p>
                    <p>Stakeholder management</p>
                    <p>Recruiting</p>
                    <p>Teamwork</p>
                    <p>Open-mindedness</p>
                    <p>Performance manager</p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Hard skills</h2>
                <div class="content">
                    <p>Distributed Architure (event and message driven)</p>
                    <p>Microservices</p>
                    <p>Product development</p>
                    <p>Technical roadmap</p>
                    <p>Security</p>
                    <p>Development</p>
                    <p>
                        Polygot programming: <small
                            ><small
                                >C#, Python, Java, JavaScript (React JS), Batch, PHP, Go(Lang) and
                                Rust (learning)</small
                            ></small
                        >
                    </p>
                </div>
            </section>
            <section>
                <h2 class="section-title">YouTube</h2>
                <div class="content">
                    <p>
                        <a href="https://www.youtube.com/@freecodecamp">freeCodeCamp.org</a>
                    </p>
                    <p>
                        <a href="https://www.youtube.com/@GOTO-">GOTO Conferences</a>
                    </p>
                    <p>
                        <a href="https://www.youtube.com/@nickchapsas">Nick Chapsas</a>
                    </p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Books</h2>
                <div class="content"></div>
            </section>
            <section>
                <h2 class="section-title">Interests</h2>
                <div class="content">
                    <p>Sports, snowboarding, cycling and lane swimming.</p>
                    <p>
                        Ingress team captain:<small
                            ><small>
                                establishing, inspiring, and leading freshly formed teams. Assist
                                them in attaining success in a dynamic and fast-paced environment.</small
                            ></small
                        >
                    </p>
                </div>
            </section>
        </main>

        <ContactCTA />
    </div>
</BaseLayout>

<style>
    .about {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    #section-about-background p {
        padding-bottom: 20px;
    }

    #section-about-background p:last-of-type {
        padding-bottom: 0;
    }

    img {
        margin-top: 1.5rem;
        border-radius: 1.5rem;
        box-shadow: var(--shadow-md);
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: var(--gray-200);
    }

    .section-title {
        grid-column-start: 1;
        font-size: var(--text-xl);
        color: var(--gray-0);
    }

    .content {
        grid-column: 2 / 4;
    }

    .content :global(a) {
        text-decoration: 1px solid underline transparent;
        text-underline-offset: 0.25em;
        transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
        text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
        .about {
            display: grid;
            grid-template-columns: 1fr 60% 1fr;
        }

        .about > :global(:first-child) {
            grid-column-start: 2;
        }

        section {
            display: contents;
            font-size: var(--text-lg);
        }
    }
</style>
