---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';

const engagements = (await getCollection('engagement')).sort(
    (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf()
);
---

<BaseLayout
    title="Selected Engagements | Rob op den Kelder"
    description="Learn about Rob op den Kelder most recent engagements"
>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                title="Selected Engagements"
                tagline="See my most recent engagements below to get an idea of my past experience and the impact."
                align="start"
            />
            <div>
                {
                    engagements.map(engagement => (
                        <li>
                            <PortfolioPreview engagement={engagement} />
                        </li>
                    ))
                }
            </div>
        </main>
        <ContactCTA />
    </div>
</BaseLayout>

<style>
    li {
        list-style: none;
        margin-bottom: 20px;
    }
</style>
