---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';

const projects = (await getCollection('experience')).sort(
    (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf()
);
---

<BaseLayout
    title="Experience | Rob op den Kelder"
    description="Learn about Rob op den Kelder most recent projects"
>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                title="Experience"
                tagline="See my most recent projects below to get an idea of my past experience and the impact."
                align="start"
            />
            <div>
                {
                    projects.map(project => (
                        <li>
                            <PortfolioPreview project={project} />
                        </li>
                    ))
                }
            </div>
        </main>
        <ContactCTA />
    </div>
</BaseLayout>

<style>
    li {
        list-style: none;
        margin-bottom: 20px;
    }
</style>
