<div class="pill"><slot /></div>

<style>
    .pill {
        background: transparent;
        border: 1px solid var(--accent-regular);
        color: var(--gray-0);
        padding: 0.5rem 1rem;
        border-radius: 999px;
        font-size: 0.9rem;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        transition: all 0.3s ease;
    }

    .pill:hover {
        background: var(--accent-regular);
        box-shadow: 0 0 30px var(--accent-regular);
    }
</style>
