---
import Icon from "./Icon.astro";

interface Props {
	yearsOfExperience: number;
}

const { yearsOfExperience } = Astro.props;
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="arrows-out"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Leader & mentor</h2>
		<p>
			Multi-year experienced as an open-minded leader. Passitioned being
			the force multiplier to achieve results. Setting and defining
			example for local teams and wider engineering organisation. Building
			for success and career progression within the teams. Strong believer
			of lead by example and not afriad to get his hands "dirty".
			Experience large product teams of up to 40 technical employees in
			enterprise organsations.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="terminal-window"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Software Engineer</h2>
		<p>
			Over {yearsOfExperience} years of software engineering experience. Leading
			and delivering multiple projects and products from concept to launch.
			From monoliths to scalable distributed microservices architectures.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="strategy"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Strategy-Minded</h2>
		<p>
			Using past experience and network to build solutions that are build
			for the future. Delivering product that are ready to be supported
			and maintained for multiple years by using proven technology.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
