---
import Icon from './Icon.astro';

// Bias for action
---

<section class="box skills">
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="shield-check" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Architectural Guardrails</h2>
        <b>Strategic governance for high-stakes environments.</b>
        <p>
            Implementation of security-first architectures and governance models designed to protect
            enterprise assets. Utilizing proven standards that supported products securing <strong
                >£150M+ in contracts</strong
            > at <strong>KPMG</strong>, I establish the technical blueprints and automated
            guardrails like <strong>Fortify</strong> and <strong>SonarQube</strong> to prevent technical
            debt and ensure global compliance.
        </p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="rocket-launch" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Strategic Engineering</h2>
        <b>Mission-critical implementation and legacy modernization.</b>
        <p>
            Surgical engineering focused on solving the complex technical hurdles that block product
            roadmaps. This includes the orchestration of cloud-native transformations, such as the
            successful supplanting of <strong>legacy AS-400 systems</strong> at <strong
                >Transavia</strong
            >, and the delivery of high-performance prototypes that ensure long-term operational
            excellence.
        </p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="users-four" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Technical Team Leadership</h2>
        <b>Scaling organizations through engineering enablement.</b>
        <p>
            Bridging the gap between business vision and technical execution for enterprise-scale
            organizations. Experience directing large-scale, globally distributed teams (including
            over <strong>40 engineers</strong> at <strong>KPMG</strong>) across DevOps, Data, and QA
            to align engineering culture with strategic organizational goals.
        </p>
    </div>
</section>

<style>
    .box {
        border: 1px solid var(--gray-800);
        border-radius: 0.75rem;
        padding: 1.5rem;
        background-color: var(--gray-999_40);
        box-shadow: var(--shadow-sm);
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .skills h2 {
        font-size: var(--text-lg);
    }

    .skills p {
        color: var(--gray-400);
    }

    @media (min-width: 50em) {
        .box {
            border-radius: 1.5rem;
            padding: 2.5rem;
        }

        .skills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
        }

        .skills h2 {
            font-size: var(--text-2xl);
        }
    }
</style>
